/target
*.db
.system_generated
logs
*.json
.jsonl
test_altbot
test_altbot2
/config.toml
/ui/node_modules
/my_agent

!ui/package.json
!ui/package-lock.json
!ui/components.json
!ui/tsconfig.json
.venv
__pycache__
